/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$nu_name = 'nu';
$nu_x = 0px;
$nu_y = 0px;
$nu_offset_x = 0px;
$nu_offset_y = 0px;
$nu_width = 107px;
$nu_height = 66px;
$nu_total_width = 107px;
$nu_total_height = 66px;
$nu_image = 'images/icons.png';
$nu = 0px 0px 0px 0px 107px 66px 107px 66px 'images/icons.png' 'nu';
$spritesheet_width = 107px;
$spritesheet_height = 66px;
$spritesheet_image = 'images/icons.png';
$spritesheet_sprites = $nu;
$spritesheet = 107px 66px 'images/icons.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
