$svg-common 
	background url("images/sprite-b907ebac.svg") no-repeat

.svg-a
	@extend $svg-common
	background-position 0 0

.svg-a-dims
	width 100px
	height 100px

.svg-b
	@extend $svg-common
	background-position 100% 0

.svg-b-dims
	width 100px
	height 100px

