
/* line 297 : /Users/giuliandrimba/Desktop/nu/src/styles/app.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 15 : /Users/giuliandrimba/Desktop/nu/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 18 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/index.styl */

/* line 10 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/border.styl */

/* line 53 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/border-radius.styl */

/* line 28 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/border-radius.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/clearfix.styl */

/* line 4 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/clearfix.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/color-image.styl */

/* line 196 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/flex.styl */

/* line 18 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/gradients.styl */

/* line 11 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/config.styl */

/* line 7 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/config.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/iconic.styl */

/* line 25 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/image.styl */

/* line 18 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/index.styl */

/* line 8 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/index.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/base.styl */

/* line 19 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/base.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 6 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/links.styl */

/* line 30 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/links.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/text.styl */

/* line 7 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/text.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 17 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 69 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 7 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 20 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/overflow.styl */

/* line 66 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/overflow.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/positions.styl */

/* line 78 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/positions.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/reset.styl */

/* line 18 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/index.styl */

/* line 12 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/aliases.styl */

/* line 9 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 8 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 2 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 523 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 487 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/config.styl */

/* line 28 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/size.styl */

/* line 4 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 81 : /Users/giuliandrimba/Desktop/nu/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/src/styles/shared/spritesheet/icons.styl */

/* line 18 : /Users/giuliandrimba/Desktop/nu/src/styles/shared/spritesheet/icons.styl */

/* line 81 : /Users/giuliandrimba/Desktop/nu/src/styles/shared/spritesheet/sprite.styl */

/* line 1 : /Users/giuliandrimba/Desktop/nu/src/styles/shared/spritesheet/sprite.styl */
.svg-a,
.svg-b {
  background: url("images/sprite-b907ebac.svg") no-repeat;
}

/* line 4 : /Users/giuliandrimba/Desktop/nu/src/styles/shared/spritesheet/sprite.styl */
.svg-a {
  background-position: 0 0;
}

/* line 8 : /Users/giuliandrimba/Desktop/nu/src/styles/shared/spritesheet/sprite.styl */
.svg-a-dims {
  width: 100px;
  height: 100px;
}

/* line 12 : /Users/giuliandrimba/Desktop/nu/src/styles/shared/spritesheet/sprite.styl */
.svg-b {
  background-position: 100% 0;
}

/* line 16 : /Users/giuliandrimba/Desktop/nu/src/styles/shared/spritesheet/sprite.styl */
.svg-b-dims {
  width: 100px;
  height: 100px;
}
